{% extends '../accounts/base.html' %}

{% block title %} Customers {% endblock %}

{%block content %}

<div class="row m-2">
  <div class="col-md-4">
    <div class="card">
      <h5 class="text-center">Customer</h5>
      <hr>
      <div class="card-body ">
        <button type="button" class="btn btn-outline-primary btn-block">Update Customer </button>
        <a href="{% url 'order' customer.id %}" type="button" class="btn btn-outline-danger btn-block">Place new Order </a>
        
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <h5 class="text-center">Contact info</h5>
      <hr>
      <div class="card-body">
      <p>Email:</p>
       <p>Phone:</p>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card">
      <h5 class="text-center">Total orders</h5>
      <hr>
      <div class="card-body">
      
        This is some text within a card body.
      </div>
    </div>
  </div>

  <div class="col-md-12 m-2">
    <input class="form-control mr-sm-2" type="text" placeholder="Search">
    <button class="btn btn-success" type="submit">Search</button>
  </div>


  <div class="col-md-12 m-2">
    <table class="table table-striped">
      <thead>
        <tr>
          
          <th scope="col">Product</th>
          <th scope="col">Category</th>
          <th scope="col">Date Ordered</th>
          <th scope="col">Status</th>
          <th scope="col">Update</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>

        {% for order in orders %}
        <tr>
          
          <td>{{ order.product }}</td>
          <td>{{ order.product.category }}</td>
          <td> {{ order.date_created }} </td>
          <td>{{ order.status }}</td>
          <td> <a class="btn btn-info" href="#" role="button">Update</a></td>
          <td> <a class="btn btn-danger" href="#" role="button">Delete</a></td>
        </tr>
        {% endfor %}
      
        
      </tbody>
    </table>
  </div>

</div>


{% endblock %}