{% extends '../accounts/base.html' %}


{%block content %}

<div class="row mt-2">

  <div class="col-md-4 bg-info m-2">
    <h3 class="text-white text-center">Total Orders</h3>
    <hr class="bg-white">
    <h1 class="text-white text-center">{{ total_orders }}</h1>
  </div>

  <div class="col-md-3 bg-info m-2">
    <h3 class="text-white text-center">Order Delivered</h3>
    <hr class="bg-white">
    <h1 class="text-white text-center">{{ delivered }}</h1>
    </div>
  
  <div class="col-md-4 bg-info m-2">
    <h3 class="text-white text-center">Order Pending</h3>
    <hr class="bg-white">
    <h1 class="text-white text-center">{{ pending }}</h1>
      </div>
      


</div>
<hr>
<div class="row">
  <div class="col-md-6">
    <h3>Customers: </h3>
    <hr>
    <div class="card">
      <button type="button" class="btn btn-info btn-block">Create Customer</button>
      <div class="card-body">
        <table class="table table-borderless">
          <thead>
            <tr>
             
              <th scope="col">Name</th>
              <th scope="col">Phone</th>
              <th scope="col">Email</th>
            </tr>
          </thead>
          <tbody>

            {% for customer in customers %}
            <tr>
           
              <td> <a href="{% url 'customer' customer.id %}"> {{ customer.name }} </a> </td>
              <td>{{ customer.phone }}</td>
              <td>{{ customer.email }}</td>
            </tr>
            {% endfor %}
         
        
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <h3>Latest Orders</h3>
    <hr>
    <div class="card">
      <button type="button" class="btn btn-info btn-block">Create Order </button>
      <div class="card-body">
        <table class="table table-borderless">
          <thead>
            <tr>
              
              <th scope="col">Customer</th>
              <th scope="col">Product</th>
              <th scope="col">Status</th>
              <th scope="col">Update</th>
              <th scope="col">Remove</th>
            </tr>
          </thead>
          <tbody>
            {% for order in orders%}
            <tr>
              
              <td>{{ order.customer }}</td>
              <td>{{ order.product }}</td>
              <td>{{ order.status }}</td>
              <td> <a href="http://" class="btn btn-info"> Update</a> </td>
              <td> <a href="http://" class="btn btn-danger "> Delete </a> </td>
            </tr>
            {% endfor %}
         
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}