{%  extends '../accounts/base.html' %}
{% block title%} Create Order {% endblock %}



{% block content %}

<div class="row m-2">
  <div class="col-md-8">
    <div class="jumbotron">
      <h1 class="display-4">Hello, world!</h1>
      <form action="" method="POST">
        
      </form>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
  </div>
</div>
{% endblock %}