{%  extends '../accounts/base.html' %}
{% block title%} Products {% endblock %}



{% block content %}
<div class="row mt-2">
  <div class="col-md-10"> 
  <h3>Products</h3> 
  <hr>
  <div class="jumbotron ">
    <table class="table table-borderless">
      <thead>
        <tr>
         
          <th scope="col">Product</th>
          <th scope="col">Category</th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody>
       
         {% for product in products %}
         <tr>
          <td>{{ product.name }}</td>
          <td>{{ product.category }}</td>
          <td>{{ product.price }}</td>
        </tr>
          {% endfor %}
        
       
        
      </tbody>
    </table>
  </div>
</div>
</div>
{% endblock %}